.media-flex-item{
  display:flex;
  flex-direction:column;
  background:#01FF70;
  width:100%;
  flex-grow:1;
  box-shadow:0 0 2px 2px black;



}
.media-form{
  margin-left:2px;
  margin-bottom:4px;
}
.media-h3{
  margin-left:4px;
  margin-top:4px;
  margin-bottom:5px;
}
